{% extends 'weird_blog/base.html' %}
{% load django_bootstrap5 %}

{% block page_header %}
<h1>{{topic.text}}</h1>
{% endblock page_header %}

{% block content %}

<style>
    h4 {
        color: black;
    }
</style>


<p>
    <a href="{% url 'weird_blog:new_entry' topic.id %}" class="text-decoration-none">Add New Entry</a>
</p>
<ul>
    {% for entry in entries %}
    <div class="card mb-3">
        <h4 class="card-header">
            {{ entry.date_added|date:"M d, Y H:i" }}
            <small> <a href="{% url 'weird_blog:edit_entry' entry.id %}" class="text-decoration-none">Edit
                    entry</a></small>

        </h4>
        <div class="card-body">{{ entry.text | linebreaks }}</div>
    </div>

    {% empty %}
    <p>There are no entries for this topic yet.</p>
    {% endfor %}
</ul>

{% endblock content %}